<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwBoleto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SwBoleto.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwBoleto.Properties.Settings>
            <setting name="client_secret_h" serializeAs="String">
                <value>CLIENT SECRET</value>
            </setting>
            <setting name="client_id_h" serializeAs="String">
                <value>CLIENT iID</value>
            </setting>
            <setting name="developer_application_key_h" serializeAs="String">
                <value>DEVELOPER_APPLICATION</value>
            </setting>
            <setting name="client_basic" serializeAs="String">
                <value>CLIENT BASIC BB</value>
            </setting>
            <setting name="Nome_BD_PRODUÇÃO" serializeAs="String">
                <value>BANCO DE DADOS</value>
            </setting>
            <setting name="Usuario_BD" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Senha_BD" serializeAs="String">
                <value />
            </setting>
            <setting name="Servidor_BD" serializeAs="String">
                <value>SERVIDOR SQL</value>
            </setting>
            <setting name="Ambiente" serializeAs="String">
                <value>PRODUÇÃO</value>
            </setting>
            <setting name="Banco" serializeAs="String">
                <value>INTER</value>
            </setting>
            <setting name="CaminhoCertificado" serializeAs="String">
                <value>CERTIFICADO</value>
            </setting>
            <setting name="SenhaCertificado" serializeAs="String">
                <value>SENHA CERTIFICADO</value>
            </setting>
        </SwBoleto.Properties.Settings>
        <SwBoleto.Settings>
            <setting name="client_secret_h" serializeAs="String">
                <value>eyJpZCI6IjE5NzIyNTktZDk2YS00ZGJjLTgxYWEtYTVmNDg0Mzc0M2E3ZmIzNThmYjMtZGUzMiIsImNvZGlnb1B1YmxpY2Fkb3IiOjAsImNvZGlnb1NvZnR3YXJlIjo1OTkzOSwic2VxdWVuY2lhbEluc3RhbGFjYW8iOjEsInNlcXVlbmNpYWxDcmVkZW5jaWFsIjoxLCJhbWJpZW50ZSI6ImhvbW9sb2dhY2FvIiwiaWF0IjoxNjgxNDk3Mzg1NDI2fQ</value>
            </setting>
            <setting name="client_id_h" serializeAs="String">
                <value>eyJpZCI6ImY5YzU3ZmMtNzYwNy00NyIsImNvZGlnb1B1YmxpY2Fkb3IiOjAsImNvZGlnb1NvZnR3YXJlIjo1OTkzOSwic2VxdWVuY2lhbEluc3RhbGFjYW8iOjF9</value>
            </setting>
            <setting name="developer_application_key_h" serializeAs="String">
                <value>38ebd934479cd92e9a6ea0c2b4999c16</value>
            </setting>
            <setting name="client_basic" serializeAs="String">
                <value>Basic ZXlKcFpDSTZJbVk1WXpVM1ptTXROell3TnkwME55SXNJbU52WkdsbmIxQjFZbXhwWTJGa2IzSWlPakFzSW1OdlpHbG5iMU52Wm5SM1lYSmxJam8xT1Rrek9Td2ljMlZ4ZFdWdVkybGhiRWx1YzNSaGJHRmpZVzhpT2pGOTpleUpwWkNJNklqRTVOekl5TlRrdFpEazJZUzAwWkdKakxUZ3hZV0V0WVRWbU5EZzBNemMwTTJFM1ptSXpOVGhtWWpNdFpHVXpNaUlzSW1OdlpHbG5iMUIxWW14cFkyRmtiM0lpT2pBc0ltTnZaR2xuYjFOdlpuUjNZWEpsSWpvMU9Ua3pPU3dpYzJWeGRXVnVZMmxoYkVsdWMzUmhiR0ZqWVc4aU9qRXNJbk5sY1hWbGJtTnBZV3hEY21Wa1pXNWphV0ZzSWpveExDSmhiV0pwWlc1MFpTSTZJbWh2Ylc5c2IyZGhZMkZ2SWl3aWFXRjBJam94TmpneE5EazNNemcxTkRJMmZR</value>
            </setting>
            <setting name="ChavePix" serializeAs="String">
                <value>3d94a38b-f344-460e-b6c9-489469b2fb03</value>
            </setting>
            <setting name="Nome_BD_PRODUÇÃO" serializeAs="String">
                <value>BSIG2</value>
            </setting>
            <setting name="Usuario_BD" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Senha_BD" serializeAs="String">
                <value />
            </setting>
            <setting name="Servidor_BD" serializeAs="String">
                <value>DESKTOP-4PO0IMK\SQL2019</value>
            </setting>
        </SwBoleto.Settings>
    </applicationSettings>
</configuration>